@use './abstracts/' as *;

.grid-container {
  grid-template-columns: repeat(4, 27rem);
}

.user-card {
  padding: 4rem;
  &--violet {
    grid-column: 1 / 3;
  }
  &--blackish {
    grid-column: span 2;
  }
  &--alignment {
    grid-area: 1 / 4 / 3 / 5;
  }
}
.attribution {
  font-size: $text-md;
}
