// others
$bd-radius: 1rem;
$flex-gap: 1.5rem;
$verified-color: hsla(0, 0%, 81%, 0.5);
$quote-color: hsl(0 0% 79% / 1);
$dark-verified-color: hsla(217, 19%, 35%, 0.5);
$dark-quote-color: hsl(217 19% 35% / 1.7);
$shadow-md: 1rem 1rem 8rem -1rem #cfcfcf;
