.grid-container {
  grid-template-columns: repeat(4, 27rem);
}

.user-card {
  padding: 4rem;
}
.user-card--violet {
  grid-column: 1/3;
}
.user-card--blackish {
  grid-column: span 2;
}
.user-card--alignment {
  grid-area: 1/4/3/5;
}

.attribution {
  font-size: 1.6rem;
}
