.user-card {
  padding: 3rem;
  color: hsl(0deg, 0%, 100%);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 8rem -1rem #cfcfcf;
}
.user-card--violet {
  background-color: hsl(263deg, 55%, 52%);
  background-image: url(../../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: right 10% top 0;
  background-size: 11rem;
}
.user-card--grayish {
  background-color: hsl(217deg, 19%, 35%);
}
.user-card--white {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(217deg, 19%, 35%);
}
.user-card--blackish {
  background-color: hsl(219deg, 29%, 14%);
}
.user-card__review {
  font-size: 2.2rem;
  font-weight: 600;
  color: hsl(210deg, 46%, 95%);
  margin-bottom: 1.6rem;
  z-index: 1;
}
.user-card__review--dark {
  color: hsl(219deg, 29%, 14%);
}
.user-card__quote {
  font-weight: 600;
  line-height: 2rem;
  color: hsl(0deg, 0%, 79%);
}
.user-card__quote--dark {
  color: hsl(217deg, 19%, 35%);
}

.info-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.6rem;
}
.info-container__avatar {
  width: 4.25rem;
  border-radius: 50%;
  border: 2px solid hsla(217deg, 19%, 35%, 0.5);
}
.info-container__avatar--bd-color {
  border-color: hsla(0deg, 0%, 81%, 0.5);
}
.info-container__avatar--dark-border {
  border-color: hsl(263deg, 55%, 52%);
}
.info-container-data__name {
  font-size: 1.6rem;
}
.info-container-data__status {
  color: hsl(0deg, 0%, 81%);
}
.info-container-data__status--dark {
  color: hsl(217deg, 19%, 35%);
}
