.grid-container {
  margin: 8rem 0;
  display: grid;
  grid-template-columns: min(90% - 1rem);
  gap: 2.5rem;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(3.2rem, 25rem));
    gap: 4rem;
  }
}
