@use '../abstracts' as *;

.user-card {
  padding: 3rem;
  color: $white;
  border-radius: $bd-radius;
  box-shadow: $shadow-md;
  &--violet {
    background-color: $moderate-violet;
    background-image: url(../../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 10% top 0;
    background-size: 11rem;
  }
  &--grayish {
    background-color: $very-dark-grayish-blue;
  }
  &--white {
    background-color: $white;
    color: $very-dark-grayish-blue;
  }
  &--blackish {
    background-color: $very-dark-blackish-blue;
  }
  &__review {
    font-size: $text-xl;
    font-weight: $font-semibold;
    color: $light-grayish-blue;
    margin-bottom: 1.6rem;
    z-index: 1;
    &--dark {
      color: $very-dark-blackish-blue;
    }
  }
  &__quote {
    font-weight: $font-semibold;
    line-height: $review-leading-md;
    color: $quote-color;
    &--dark {
      color: $dark-quote-color;
    }
  }
}

.info-container {
  display: flex;
  align-items: center;
  gap: $flex-gap;
  margin-bottom: 1.6rem;
  &__avatar {
    width: 4.25rem;
    border-radius: 50%;
    border: 2px solid $dark-verified-color;
    &--bd-color {
      border-color: $verified-color;
    }
    &--dark-border {
      border-color: $moderate-violet;
    }
  }
  &-data__name {
    font-size: $text-md;
  }
  &-data__status {
    color: $light-gray;
    &--dark {
      color: $dark-quote-color;
    }
  }
}
